.reveal-up, .reveal-down, .reveal-left, .reveal-right {
  opacity: 0;
  transition: all 1s ease;
}

.reveal-up { transform: translateY(50px); }
.reveal-down { transform: translateY(-50px); }
.reveal-left { transform: translateX(-50px); }
.reveal-right { transform: translateX(50px); }

.reveal-up.active,
.reveal-down.active,
.reveal-left.active,
.reveal-right.active {
  opacity: 1;
  transform: translate(0, 0);
}
