* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.skills-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 50px 0px;
}
.skills-container .head0 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 40px;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 20px;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.my-card {
  border: 1px solid black;
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}
.card-image {
  margin: 10px;
  width: 90%;
}
.card-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card-data .head1 {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-data .head2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.my-card hr{
    width: 100%;
    margin:0;
    padding:0;
    border: 1px solid rgb(235, 235, 235);
}
.my-card :hover{
    transform:translate(0,10px);
    box-shadow:10px 10px 40px 10px grey;
    transition:all 0.5s linear 0s;
}
.card-data .head3 button{
background-color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: 1px solid black;
font-size: 18px;
border-radius: 20px;
padding:3px 10px
}
.card-data .head3 button a{
    text-decoration:none;
    color:inherit;
} 
.my-card .card-data .head3 button:hover{
  transform: scale(1.2);
}
/* .card-data .head3 {
  display: flex;
  gap: 12px;
  margin-top: 12px;
} */
